body {
    margin-left: 20px;
}


.card {
    width: 500px;
    margin: 10px;
    border: 1px solid darkgray;
    background-color: lightgray;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 520px);
    width: auto;
}

.innercard {
    background-color: lightgray;
    padding: 10px;
}


.header {
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-align: center;
    padding: 1% 0;
    border: 1px solid gray;
    user-select: none;
}


.green {
    background-color: rgb(58, 201, 101);
}

.blue {
    background-color: rgb(51, 118, 243);
}

.red {
    background-color: rgb(206, 55, 55);
}

.yellow {
    background-color: rgb(231, 192, 17);
}

.gray {
    background-color: rgb(56, 56, 56);
}


.bodies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyPart {
    display: flex;
    flex-direction: row;
    align-items: center;
}