div.colorDivs {
    width: fit-content;
    font-size: x-large;
    text-align: center;
    color: white;
    user-select: none;
}

.red {
    background-color: red;
    border: 1px solid;
}

.green {
    background-color: green;
    border: 1px solid;
}

.blue {
    background-color: blue;
    border: 1px solid;
}

.boxes {
    border: 1px solid;
    width: 40px;
    height: 40px;
}

.boxesActive {
    border: 2px dashed rgb(255, 230, 0);
    width: 40px;
    height: 40px;
}