body {
    background-color: rgb(40, 40, 40);
}

#main {
    display: grid;
    place-items: center;
}

#game {
    color: yellow;
    background-color: rgb(0, 142, 14);
    display: grid;
    place-items: center;
    margin-left: 5%;
    margin-top: 10%;
    min-height: 50%;
    min-width: 10%;
    border: 4px ridge;
    border-radius: 10%;
    padding: 5%;
}

input {
    background-color: rgb(0, 142, 14);
    border-radius: 20px;
    border-color: yellow;
    width: 30px;
}